#root {
	margin: 0;
	padding: 0;
	width: 100vw;
}

h1 {
	font-family: "Dream Orphans";
	font-weight: normal;
}

@mixin thinborder {
	background-color: white;
	border: 1px solid #000;
}

@mixin nospacers {
	margin: 0;
	padding: 0;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	@include flex-center;
	@include nospacers;
	border-top: 1px solid #000;
	background-color: #fff;
	width: 100%;
}

#intro {
	border: none;
	height: 100vh;
}

#about {
	@include flex-center;
	flex-direction: row;
	align-items: stretch;
	overflow: hidden;
	background-size: 150vh;
	background-position: -5vw -5vh;
	background-repeat: repeat;
	background-image: url("../assets/images/bg/dots.png");

	#about-media {
		width: 100%;
		flex-grow: 2;
	}

	#about-desc {
		width: 100%;
		flex-grow: 3;
		margin: 0 5em 0 5em;
	}
}

#skills {
	@include flex-center;
	background: url("../assets/images/bg/waves.png") repeat -10vw 0,
		url("../assets/images/bg/waves.png") repeat 10vw -11.1vh;
	background-size: 150vh, 150vh;

	.description {
		padding: 0 1em;
		width: 33%;
		height: 100vh;
		background-color: lightgray;
	}

	.skillbox {
		@include thinborder;
		border-right: 0;
		width: 50%;
		height: 50vh;
		background-color: white;
	}
}

#projects {
	background-color: lightgray;
}

#conclusion {
	.thanks {
		@include thinborder;
		padding: 0.75em;
		margin: 1em;
		font: normal 4em "Dream Orphans";

		.contacts {
			display: flex;
			justify-content: space-around;
		}
	}
}

.about-segment {
	white-space: pre-wrap;

	.spacer {
		height: 5em;
	}

	.connector {
		@include flex-center();
		flex-grow: 1;
		height: 5em;
		padding: 0 1em;

		.connector-line {
			height: 100%;
			width: 1px;
			background-color: #262626;
		}
	}

	.content {
		@include thinborder();
		flex-grow: 1;
		padding: 1em;
		overflow-wrap: break-word;
	}
}
