#root {
	margin: 0;
	padding: 0;
	width: 100vw;
}

@mixin thinborder {
	background-color: white;
	border: 1px solid #000;
}

@mixin nospacers {
	margin: 0;
	padding: 0;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	@include flex-center;
	@include nospacers;
	border-top: 1px solid #000;
	background-color: #fff;
	width: 100%;
	height: 100vh;
}

.intro {
	border: none;
}

.skills {
	@include flex-center;
	justify-content: flex-end;

	.description {
		@include thinborder;
		padding: 0 0.75em;
		width: 33%;
		height: 100%;
	}

	.skillbox {
		@include thinborder;
		border-left: 0;
		width: 50%;
		height: 50vh;
		background-color: white;
	}
}

.projects {
	background-color: lightgray;
}

.conclusion {
	.thanks {
		@include thinborder;
		padding: 0.75em;
		font: normal 4em "Dream Orphans";

		.contacts {
			display: flex;
			justify-content: space-around;
		}
	}
}
